.index{
    .header{
        background-color: rgb(101, 17, 212);
        div{
            display: flex;
            justify-content: flex-start;
            h2{
                color: #fff;
            }
            
            p{
                font-size: 20px;
                color: #fff;
                padding-left: 70px;
            }
        }
    }
    .main{
        height: calc(100vh - 64px);
    }
    .content{
        background-color: white;
    }
}