.CheckAdd {
    .checkAddButton {
        // display: flex;
        // justify-content: flex-end;
        text-align: right;
    }

    .userTable {
        margin-top: 20px;
        *{
            text-align: center;
        }
    }
}
.CheckAddModal{
    .FormButton{
        text-align: center;
    }
}