.UsersList {
    .addUserButton {
        // display: flex;
        // justify-content: flex-end;
        text-align: right;
    }

    .userTable {
        margin-top: 20px;
    }
}

.UsersListModal {
    .FormButton {
        text-align: center;
    }
}