.PersonalPortal{
    .personal-information{
        display: flex;
        width: 600px;
        background: rgb(255, 255, 255);
        flex-direction:column;
        align-items:center;
        .Avatar{
            margin-top: 20px;
            background: rgb(239, 239, 239);
        }
        span{
            color: rgb(0, 195, 255);
        }
        span:nth-of-type(2){
            margin-top: 10px;
        }
        span:nth-of-type(3){
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}